<app-nav></app-nav>

<div class="ps-page--default ps-page--blog">
    <div class="ps-blog">
      <div class="container">
        <div class="ps-post--detail">
          <div class="ps-post__header">
            <h2>El balón cosido a mano: de Monguí para el mundo</h2>
            
          </div>
          <div class="ps-post__content ps-document">
            <div class="ps-post__text">
              <h4 class="text-center">La elaboración del balón en cuero cosido a mano es una técnica artesanal convertida en tradición que ha pasado de generación en generación entre las familias de Monguí, un municipio del departamento de Boyacá.</h4>
            </div>
            <div class="mb-100"><img src="assets/images/embajador/detail-1.jpg" alt=""></div>
            <div class="ps-post__text">
              <p><span class="cap">T</span>odo comienza en 1934 cuando Froilán Ladino Agudelo, un joven del municipio de Monguí presta su servicio militar en las fronteras de Colombia. Estando en un pueblo de Brasil, conoce la forma en la que se realiza el cosido a mano del balón. <br><br>Con esta idea, Froilán regresa a Monguí y crea una curtiembre de cuero (sitio especializado para convertir las pieles de animales en cuero), herramientas para coser el balón y técnicas para encocarlo y darle redondez. Ya con los elementos necesarios, Froilán enseña a coser el balón artesanal a doce personas que más adelante se les conoce como los doce apóstoles.</p>
           
            </div>
            <div class="ps-post__text mb-0" >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div class="mb-100"><img src="assets/images/embajador/detail-2.jpg" alt=""></div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div class="mb-100"><img src="assets/images/embajador/detail-3.jpg" alt=""></div>
                </div>
              </div>
              <p>Con una producción para cubrir todo el territorio colombiano, Froilán Ladino decide radicarse en Duitama y posteriormente en Bogotá. Desde estos lugares, Froilán recibía los balones que se cosían en Monguí para encocarlos y luego comercializarlos. </p>
              <p>Luego, Manuel Ladino, hermano de Froilán crea una microempresa en Monguí en la que se incluían todos los procesos de elaboración y comercialización del balón y con la  que generó empleo a más de 350 familias campesinas, quienes alternaron sus actividades de agricultura y ganadería con esta labor artesanal.</p>
            </div>
          </div>  
        </div>
       
      </div>
    </div>
 
  </div>

<app-footer></app-footer>
