<app-nav></app-nav>

<div class="ps-page--default ps-page--blog">
    <div class="ps-blog">
      <div class="container">
        <div class="ps-post--detail">
          <div class="ps-post__header">
            <h2>Los  balones de fútbol han sufrido a lo largo de la historia numerosas transformaciones para mejorar sus prestaciones, gracias a los nuevos materiales y avances en su elaboración y desarrollo.</h2>
            
          </div>
          <div class="ps-post__content ps-document">
            <div class="ps-post__text">
              <h4 class="text-center">Según diferentes historiadores, se dice que fue en China por el siglo IV antes de Cristo, los que crearon la primera pelota de cuero, rellena de crines y raíces; utilizada con fines militares. A su vez, en el año 1.400 a.C, los niños egipcios jugaban con elementos esféricos, fabricados a través de papiro, caña, arcilla, madera o marfil. También, civilizaciones como la griega, la precolombina, así como los japoneses y romanos, aportaron con sus usos y materiales, a lo que hoy en día es un balón de fútbol.</h4>
            </div>
            <div class="mb-100"><img src="assets/images/detail-1.jpg" alt=""></div>
            <div class="ps-post__text">
              <p><span class="cap">E</span>ntrando ya en el mundo del fútbol, se puede destacar que hasta mediados del siglo XIX, los primeros balones de juegos que luego derivaron en el fútbol, estaban fabricados a través de las vejigas de los cerdos, sin embargo, los mismos derivaban en formas no del todo esféricas y en movimientos inestables.</p>
              <p><span class="cap">E</span>sta inestabilidad tanto en forma como en movimientos, fue superada gracias al descubrimiento de la vulcanización del caucho por parte de Charles Goodyear. El cual, en el año 1855 creó el primer balón específico para la actividad deportiva del fútbol. Utilizado por primera vez de forma oficial en 1863 en la ciudad americana de Boston.</p>
            </div>
            <div class="ps-post__text mb-0" >
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div><img src="assets/images/Impacto-social-1.jpg" alt=""></div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 ">
                  <div><img src="assets/images/Impacto-social-2.jpg" alt=""></div>
                </div>
              </div>
              
            </div>


          </div>
          
        </div>
       
      </div>
    </div>
 
  </div>

<app-footer></app-footer>
