
<app-nav></app-nav>
<div class="ps-page ps-page--about">
  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>Sobre nosotros</h5>
        <h3>¡lleva un poco de nuestra cultura en cada balón!.</h3>
        <p>Nuestra empresa está ubicada en el municipio de Mongui - Boyacá - Colombia, somos productores de los mejores balones del municipio, resaltando nuestra cultura e innovación en cada uno de nuestros productos</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-intro.jpg" alt=""></div>
  </div>
  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/about-quote.jpg" alt=""></div>
      <div class="ps-section__right">
        <blockquote>
          <p>“De Mongui para el Mundo, nuestros balones son elaborados en el municipio más hermoso de Boyacá”</p>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="ps-about-intro">
    <div class="ps-section__left">
      <div class="ps-section__content">
        <h5>NUESTROS PRODUCTOS</h5>
        <h3>Balones 100% producidos en Mongui</h3>
        <p>Nuestos productos son elaborados en su totalidad en el municipio, materiales e insumos producidos con la mejor calidad y cariño que puede tener un balon.</p>
      </div>
    </div>
    <div class="ps-section__right"><img src="assets/images/about/about-video.jpg" alt=""></div>
  </div>

  <div class="ps-about-quote" style="    margin-bottom: 100px;">
    <div class="container ps-section__container">
      <div class="ps-section__left"><img src="../assets/images/about/member-1.jpg" alt=""></div>
      <div class="ps-section__right">

        <figure><small>TrABAJADORES</small>
          <h3 style="font-size: 48px !important;">Nuestros trabajadores 100% monguiseños</h3>
          <p>Nuestra empresa tiene el objetivo de ayudar al campesino, por tal razón todos nuestros trabajadores son oriundos de nuestro municipio.</p>
        </figure>
      </div>
    </div>
  </div>


 
</div>
  

<app-footer></app-footer>